<!--table.table.table-hover.table-bordered.table-responsive.table-highlightHeader[data-ng-disabled="loadingProducts"]>tr>th*5+tr*1-->
<div data-ng-init="getProducts()">
    <style>
        .k-label {
            display: none;
            visibility: hidden;
        }
    </style>
    <button type="button" class="btn btn-primary" data-ng-click="getProducts()">Get Data</button>
    <button class="btn btn-danger" data-ng-click="clearProducts()">Reset</button>

    <ul class="pager">
        <li class="previous">
            <a href="" class="btn" data-ng-show="northwindProcuts.length > 0" data-ng-click="prevPage()"><span data-aria-hidden="true">&larr;</span> Prev</a>
        </li>
        <li>
            <div data-kendo-slider="" data-k-min="0" data-k-max="20" data-k-small-step="5" data-k-ng-model="pageSize"></div>
        </li>
        <li class="next">
            <a href="" class="btn" data-ng-show="northwindProcuts.length > 0" data-ng-click="nextPage()">Next <span data-aria-hidden="true">&rarr;</span></a>
        </li>
    </ul>

    <div>
        <div class="col-md-12">
            <h2 style="text-align: center;">Pg # {{pageIndex}}</h2>
        </div>
    </div>

    <table class="table table-hover table-bordered table-responsive table-highlightHeader" data-ng-disabled="loadingProducts">
        <thead>
            <tr>
                <th><a href="" data-ng-click="sort('ProductName');">Name</a>
                    <button class="btn btn-sm glyphicon_hover pull-right" data-ng-click="toggleFilterVisibility()" data-ng-class="{'btn-primary': showFilterRow, 'btn-warning' : strict}" title="Blue - strict search is off | Orange - strict search is on"><span class="glyphicon glyphicon-filter pull-right"></span></button>
                </th>
                <th><a href="" data-ng-click="sort('UnitPrice');">Unit Price</a></th>
                <th><a href="" data-ng-click="sort('UnitsInStock');">Inventory</a></th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-show="filterRecords">
                <td>
                    <input type="text" data-ng-model="search.ProductName" />
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr data-ng-show="loadingProducts">
                <td colspan="4" style="text-align: center;">
                    <div class="glyphicon glyphicon-refresh" data-aria-hidden="true">&nbsp;Working</div>
                </td>
            </tr>
            <tr data-ng-show="(northwindProcuts.length==0) && loadingProducts == false">
                <td colspan="4" style="text-align: center;">
                    <label>Nothing to show here, try clicking on "Rest" & then "Get Data" button</label>
                </td>
            </tr>
            <tr data-ng-hide="loadingProducts" data-ng-repeat="p in northwindProcuts  | filter:search:strict | orderBy:predicate:reverse">
                <td>{{p.ProductName}}</td>
                <td>{{p.UnitPrice | currency}}</td>
                <td>{{p.UnitsInStock}}</td>
                <td>{{(p.UnitPrice * p.UnitsInStock) | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>
